<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <!-- Add Registry entries for context menu -->
        <Component Id="ContextMenuComponent" Guid="*">
            <!-- Background (empty space) context menu -->
            <RegistryKey Root="HKCR" Key="Directory\Background\shell\AplikacjaFolderowa">
                <RegistryValue Name="MUIVerb" Type="string" Value="Aplikacja Folderowa" />
                <RegistryValue Name="Icon" Type="string" Value="[INSTALLFOLDER]favicon.ico" />
                <RegistryKey Key="command">
                    <RegistryValue Value="&quot;[INSTALLFOLDER]FolderCreator.exe&quot; -contextmenu &quot;%V&quot;" Type="string" />
                </RegistryKey>
            </RegistryKey>
                
            <!-- Folder context menu -->
            <RegistryKey Root="HKCR" Key="Directory\shell\AplikacjaFolderowa">
                <RegistryValue Name="MUIVerb" Type="string" Value="Aplikacja Folderowa" />
                <RegistryValue Name="Icon" Type="string" Value="[INSTALLFOLDER]favicon.ico" />
                <RegistryKey Key="command">
                    <RegistryValue Value="&quot;[INSTALLFOLDER]FolderCreator.exe&quot; -contextmenu &quot;%1&quot;" Type="string" />
                </RegistryKey>
            </RegistryKey>
        </Component>
    </Fragment>
</Wix>