<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package 
	  Id="beginner1986.Msi" 
	  Name="Aplikacja Folderowa" 
	  Manufacturer="beginner1986" 
	  Version="0.9.1.0"
	  UpgradeCode="8a7b6c5d-4e3f-2d1c-0b9a-8765432109ef">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />
	  <MediaTemplate EmbedCab="yes" />

    <Feature Id="App">
      <ComponentGroupRef Id="AppComponents" />
    </Feature>
  </Package>
</Wix>
