<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Aplikacja Folderowa" Language="1033" Version="0.9.1.0" Manufacturer="beginner1986" UpgradeCode="037e74e1-35cb-40ea-a1f4-df1a0aef7ab7">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="Na tym komputerze jest zainstalowana [ProductName] w nowszej wersji." />
		<MediaTemplate EmbedCab="yes" />
		<Icon Id="AppIcon" SourceFile="favicon.ico" />
		<Property Id="ARPPRODUCTICON" Value="AppIcon" />

		<Feature Id="App" Title="FolderCreator" Level="1">
			<ComponentGroupRef Id="FolderCreatorApp" />
			<ComponentRef Id="ApplicationShortcutDesktop" />
		</Feature>
	</Product>
</Wix>